@model HomeDepotWebApp.Models.CustomerWithLogin
@{
    ViewBag.Title = "Forside";
}

    <div class="login">
        <h1>Byggemarked A/S</h1>
        <h2>Velkommen! Log venligst ind for at fortsætte</h2>

        @using (Html.BeginForm())
        {
            @Html.DisplayNameFor(model => model.Username)
            @Html.EditorFor(model => model.Username)

            @Html.DisplayNameFor(model => model.Password)
            @Html.EditorFor(model => model.Password)

            <input type="submit" value="Log Ind" />
        }
    </div>